<!-- <div class="input-group-btn">
   <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{currentProvider.name}}<span class="caret"></span></button>
   <ul class="dropdown-menu" role="menu">
       <li><a href="#"><i class="fa fa-github"></i> GitHub</a></li>
       <li><a href="#"><i class="fa fa-">&#x2731;</i> Sourcegraph</a></li>
   </ul>
</div>-->
<!--
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 center">
        <form class="search-sample" role="form">
            <div class="form-group">
                <div class="input-group">
                    <div dropdown-select="providers"
                         dropdown-model="currentProvider"
                         dropdown-item-label="name" >
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </form>
    </div>
</div>
-->
<div class="row">
    <div class="col-sm-12 center" ng-show="AILoading" data-ng-activity-indicator="SpinnerDark"></div>
    <div class="col-sm-12 center" ng-show="(codeSampleCollection | filter:searchString).length==0">
        <p class="text-center">Sorry No Result Found</p>
    </div>
    <div class="col-sm-12 cs-toolbar clearfix">
        <div class="btn-group pull-right">
            <a class="btn btn-primary btn-sm" ng-model="viewModeModel" btn-radio="'listView'" ng-click="setViewMode('listView')"><i class="glyphicon glyphicon-th-large"></i></a>
            <a class="btn btn-primary btn-sm" ng-model="viewModeModel" btn-radio="'gridView'" ng-click="setViewMode('gridView')"><i class="glyphicon glyphicon-th-list"></i></a>
        </div>
    </div>
    <div class="col-sm-12 sample-wrapper clearfix">
        <div class="listViewMode clearfix" ng-if="viewModeModel === 'listView'">
            <div ng-include="'/views/code-sample-list-view.html'"></div>
        </div>
        <div class="gridViewMode clearfix" ng-if="viewModeModel === 'gridView'">
            <div ng-include="'/views/code-sample-grid-view.html'"></div>
        </div>
    </div>

</div>
