<!--
<div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{currentProvider.name}}<span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#"><i class="fa fa-github"></i> GitHub</a></li>
        <li><a href="#"><i class="fa fa-">&#x2731;</i> Sourcegraph</a></li>
    </ul>
</div>
-->
<div class="form-group right-inner-addon">
    <div class="input-group">
        <div dropdown-select="providers"
             dropdown-model="currentProvider"
             dropdown-item-label="name" >
        </div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchValue" enter-keypress="{ enter: 'search()', esc: 'clear()' }"/>
    </div>
    <a href="javascript:void(0);" ng-click="clear()" ng-show="searchValue.length>0"><i class="fa fa-close"></i></a>
</div>
