@font-face {
    font-family: 'CodeFreshIconFont';
    src: url('../fonts/codefresh-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/codefresh-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/codefresh-webfont.woff') format('woff'), /* Modern Browsers */
    url('../fonts/codefresh-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/codefresh-webfont.svg#79008a4b3a4eaea7a573c49b3d7b4328') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  normal;
}
.cfs {
    display: inline-block;
    font: normal normal normal 14px/1 CodeFreshIconFont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.cfs-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.cfs-2x {
    font-size: 2em;
}
.cfs-3x {
    font-size: 3em;
}
.cfs-4x {
    font-size: 4em;
}
.cfs-5x {
    font-size: 5em;
}
.cfs-fw {
    width: 1.28571429em;
    text-align: center;
}
.cfs-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.cfs-ul > li {
    position: relative;
}
.cfs-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.cfs-li.cfs-lg {
    left: -1.85714286em;
}
.cfs-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.cfs.pull-left {
    margin-right: .3em;
}
.cfs.pull-right {
    margin-left: .3em;
}
.cfs-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.cfs-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.cfs-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.cfs-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.cfs-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.cfs-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
:root .cfs-rotate-90,
:root .cfs-rotate-180,
:root .cfs-rotate-270,
:root .cfs-flip-horizontal,
:root .cfs-flip-vertical {
    filter: none;
}
.cfs-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.cfs-stack-1x,
.cfs-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.cfs-stack-1x {
    line-height: inherit;
}
.cfs-stack-2x {
    font-size: 2em;
}
.cfs-inverse {
    color: #ffffff;
}

/* CodeFreshIconFont uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.cfs-glass:before {
    content: "\f000";
}
.cfs-music:before {
    content: "\f001";
}
.cfs-search:before {
    content: "\f002";
}
.cfs-envelope-o:before {
    content: "\f003";
}
.cfs-heart:before {
    content: "\f004";
}
.cfs-star:before {
    content: "\f005";
}
.cfs-star-o:before {
    content: "\f006";
}
.cfs-user:before {
    content: "\f007";
}
.cfs-film:before {
    content: "\f008";
}
.cfs-th-large:before {
    content: "\f009";
}
.cfs-th:before {
    content: "\f00a";
}
.cfs-th-list:before {
    content: "\f00b";
}
.cfs-check:before {
    content: "\f00c";
}
.cfs-remove:before,
.cfs-close:before,
.cfs-times:before {
    content: "\f00d";
}
.cfs-search-plus:before {
    content: "\f00e";
}
.cfs-search-minus:before {
    content: "\f010";
}
.cfs-power-off:before {
    content: "\f011";
}
.cfs-signal:before {
    content: "\f012";
}
.cfs-gear:before,
.cfs-cog:before {
    content: "\f013";
}
.cfs-trash-o:before {
    content: "\f014";
}
.cfs-home:before {
    content: "\f015";
}
.cfs-file-o:before {
    content: "\f016";
}
.cfs-clock-o:before {
    content: "\f017";
}
.cfs-road:before {
    content: "\f018";
}
.cfs-download:before {
    content: "\f019";
}
.cfs-arrow-circle-o-down:before {
    content: "\f01a";
}
.cfs-arrow-circle-o-up:before {
    content: "\f01b";
}
.cfs-inbox:before {
    content: "\f01c";
}
.cfs-play-circle-o:before {
    content: "\f01d";
}
.cfs-rotate-right:before,
.cfs-repeat:before {
    content: "\f01e";
}
.cfs-refresh:before {
    content: "\f021";
}
.cfs-list-alt:before {
    content: "\f022";
}
.cfs-lock:before {
    content: "\f023";
}
.cfs-flag:before {
    content: "\f024";
}
.cfs-headphones:before {
    content: "\f025";
}
.cfs-volume-off:before {
    content: "\f026";
}
.cfs-volume-down:before {
    content: "\f027";
}
.cfs-volume-up:before {
    content: "\f028";
}
.cfs-qrcode:before {
    content: "\f029";
}
.cfs-barcode:before {
    content: "\f02a";
}
.cfs-tag:before {
    content: "\f02b";
}
.cfs-tags:before {
    content: "\f02c";
}
.cfs-book:before {
    content: "\f02d";
}
.cfs-bookmark:before {
    content: "\f02e";
}
.cfs-print:before {
    content: "\f02f";
}
.cfs-camera:before {
    content: "\f030";
}
.cfs-font:before {
    content: "\f031";
}
.cfs-bold:before {
    content: "\f032";
}
.cfs-italic:before {
    content: "\f033";
}
.cfs-text-height:before {
    content: "\f034";
}
.cfs-text-width:before {
    content: "\f035";
}
.cfs-align-left:before {
    content: "\f036";
}
.cfs-align-center:before {
    content: "\f037";
}
.cfs-align-right:before {
    content: "\f038";
}
.cfs-align-justify:before {
    content: "\f039";
}
.cfs-list:before {
    content: "\f03a";
}
.cfs-dedent:before,
.cfs-outdent:before {
    content: "\f03b";
}
.cfs-indent:before {
    content: "\f03c";
}
.cfs-video-camera:before {
    content: "\f03d";
}
.cfs-photo:before,
.cfs-image:before,
.cfs-picture-o:before {
    content: "\f03e";
}
.cfs-pencil:before {
    content: "\f040";
}
.cfs-map-marker:before {
    content: "\f041";
}
.cfs-adjust:before {
    content: "\f042";
}
.cfs-tint:before {
    content: "\f043";
}
.cfs-edit:before,
.cfs-pencil-square-o:before {
    content: "\f044";
}
.cfs-share-square-o:before {
    content: "\f045";
}
.cfs-check-square-o:before {
    content: "\f046";
}
.cfs-arrows:before {
    content: "\f047";
}
.cfs-step-backward:before {
    content: "\f048";
}
.cfs-fast-backward:before {
    content: "\f049";
}
.cfs-backward:before {
    content: "\f04a";
}
.cfs-play:before {
    content: "\f04b";
}
.cfs-pause:before {
    content: "\f04c";
}
.cfs-stop:before {
    content: "\f04d";
}
.cfs-forward:before {
    content: "\f04e";
}
.cfs-fast-forward:before {
    content: "\f050";
}
.cfs-step-forward:before {
    content: "\f051";
}
.cfs-eject:before {
    content: "\f052";
}
.cfs-chevron-left:before {
    content: "\f053";
}
.cfs-chevron-right:before {
    content: "\f054";
}
.cfs-plus-circle:before {
    content: "\f055";
}
.cfs-minus-circle:before {
    content: "\f056";
}
.cfs-times-circle:before {
    content: "\f057";
}
.cfs-check-circle:before {
    content: "\f058";
}
.cfs-question-circle:before {
    content: "\f059";
}
.cfs-info-circle:before {
    content: "\f05a";
}
.cfs-crosshairs:before {
    content: "\f05b";
}
.cfs-times-circle-o:before {
    content: "\f05c";
}
.cfs-check-circle-o:before {
    content: "\f05d";
}
.cfs-ban:before {
    content: "\f05e";
}
.cfs-arrow-left:before {
    content: "\f060";
}
.cfs-arrow-right:before {
    content: "\f061";
}
.cfs-arrow-up:before {
    content: "\f062";
}
.cfs-arrow-down:before {
    content: "\f063";
}
.cfs-mail-forward:before,
.cfs-share:before {
    content: "\f064";
}
.cfs-expand:before {
    content: "\f065";
}
.cfs-compress:before {
    content: "\f066";
}
.cfs-plus:before {
    content: "\f067";
}
.cfs-minus:before {
    content: "\f068";
}
.cfs-asterisk:before {
    content: "\f069";
}
.cfs-exclamation-circle:before {
    content: "\f06a";
}
.cfs-gift:before {
    content: "\f06b";
}
.cfs-leaf:before {
    content: "\f06c";
}
.cfs-fire:before {
    content: "\f06d";
}
.cfs-eye:before {
    content: "\f06e";
}
.cfs-eye-slash:before {
    content: "\f070";
}
.cfs-warning:before,
.cfs-exclamation-triangle:before {
    content: "\f071";
}
.cfs-plane:before {
    content: "\f072";
}
.cfs-calendar:before {
    content: "\f073";
}
.cfs-random:before {
    content: "\f074";
}
.cfs-comment:before {
    content: "\f075";
}
.cfs-magnet:before {
    content: "\f076";
}
.cfs-chevron-up:before {
    content: "\f077";
}
.cfs-chevron-down:before {
    content: "\f078";
}
.cfs-retweet:before {
    content: "\f079";
}
.cfs-shopping-cart:before {
    content: "\f07a";
}
.cfs-folder:before {
    content: "\f07b";
}
.cfs-folder-open:before {
    content: "\f07c";
}
.cfs-arrows-v:before {
    content: "\f07d";
}
.cfs-arrows-h:before {
    content: "\f07e";
}
.cfs-bar-chart-o:before,
.cfs-bar-chart:before {
    content: "\f080";
}
.cfs-twitter-square:before {
    content: "\f081";
}
.cfs-facebook-square:before {
    content: "\f082";
}
.cfs-camera-retro:before {
    content: "\f083";
}
.cfs-key:before {
    content: "\f084";
}
.cfs-gears:before,
.cfs-cogs:before {
    content: "\f085";
}
.cfs-comments:before {
    content: "\f086";
}
.cfs-thumbs-o-up:before {
    content: "\f087";
}
.cfs-thumbs-o-down:before {
    content: "\f088";
}
.cfs-star-half:before {
    content: "\f089";
}
.cfs-heart-o:before {
    content: "\f08a";
}
.cfs-sign-out:before {
    content: "\f08b";
}
.cfs-linkedin-square:before {
    content: "\f08c";
}
.cfs-thumb-tack:before {
    content: "\f08d";
}
.cfs-external-link:before {
    content: "\f08e";
}
.cfs-sign-in:before {
    content: "\f090";
}
.cfs-trophy:before {
    content: "\f091";
}
.cfs-github-square:before {
    content: "\f092";
}
.cfs-upload:before {
    content: "\f093";
}
.cfs-lemon-o:before {
    content: "\f094";
}
.cfs-phone:before {
    content: "\f095";
}
.cfs-square-o:before {
    content: "\f096";
}
.cfs-bookmark-o:before {
    content: "\f097";
}
.cfs-phone-square:before {
    content: "\f098";
}
.cfs-twitter:before {
    content: "\f099";
}
.cfs-facebook:before {
    content: "\f09a";
}
.cfs-github:before {
    content: "\f09b";
}
.cfs-unlock:before {
    content: "\f09c";
}
.cfs-credit-card:before {
    content: "\f09d";
}
.cfs-rss:before {
    content: "\f09e";
}
.cfs-hdd-o:before {
    content: "\f0a0";
}
.cfs-bullhorn:before {
    content: "\f0a1";
}
.cfs-bell:before {
    content: "\f0f3";
}
.cfs-certificate:before {
    content: "\f0a3";
}
.cfs-hand-o-right:before {
    content: "\f0a4";
}
.cfs-hand-o-left:before {
    content: "\f0a5";
}
.cfs-hand-o-up:before {
    content: "\f0a6";
}
.cfs-hand-o-down:before {
    content: "\f0a7";
}
.cfs-arrow-circle-left:before {
    content: "\f0a8";
}
.cfs-arrow-circle-right:before {
    content: "\f0a9";
}
.cfs-arrow-circle-up:before {
    content: "\f0aa";
}
.cfs-arrow-circle-down:before {
    content: "\f0ab";
}
.cfs-globe:before {
    content: "\f0ac";
}
.cfs-wrench:before {
    content: "\f0ad";
}
.cfs-tasks:before {
    content: "\f0ae";
}
.cfs-filter:before {
    content: "\f0b0";
}
.cfs-briefcase:before {
    content: "\f0b1";
}
.cfs-arrows-alt:before {
    content: "\f0b2";
}
.cfs-group:before,
.cfs-users:before {
    content: "\f0c0";
}
.cfs-chain:before,
.cfs-link:before {
    content: "\f0c1";
}
.cfs-cloud:before {
    content: "\f0c2";
}
.cfs-flask:before {
    content: "\f0c3";
}
.cfs-cut:before,
.cfs-scissors:before {
    content: "\f0c4";
}
.cfs-copy:before,
.cfs-files-o:before {
    content: "\f0c5";
}
.cfs-paperclip:before {
    content: "\f0c6";
}
.cfs-save:before,
.cfs-floppy-o:before {
    content: "\f0c7";
}
.cfs-square:before {
    content: "\f0c8";
}
.cfs-navicon:before,
.cfs-reorder:before,
.cfs-bars:before {
    content: "\f0c9";
}
.cfs-list-ul:before {
    content: "\f0ca";
}
.cfs-list-ol:before {
    content: "\f0cb";
}
.cfs-strikethrough:before {
    content: "\f0cc";
}
.cfs-underline:before {
    content: "\f0cd";
}
.cfs-table:before {
    content: "\f0ce";
}
.cfs-magic:before {
    content: "\f0d0";
}
.cfs-truck:before {
    content: "\f0d1";
}
.cfs-pinterest:before {
    content: "\f0d2";
}
.cfs-pinterest-square:before {
    content: "\f0d3";
}
.cfs-google-plus-square:before {
    content: "\f0d4";
}
.cfs-google-plus:before {
    content: "\f0d5";
}
.cfs-money:before {
    content: "\f0d6";
}
.cfs-caret-down:before {
    content: "\f0d7";
}
.cfs-caret-up:before {
    content: "\f0d8";
}
.cfs-caret-left:before {
    content: "\f0d9";
}
.cfs-caret-right:before {
    content: "\f0da";
}
.cfs-columns:before {
    content: "\f0db";
}
.cfs-unsorted:before,
.cfs-sort:before {
    content: "\f0dc";
}
.cfs-sort-down:before,
.cfs-sort-desc:before {
    content: "\f0dd";
}
.cfs-sort-up:before,
.cfs-sort-asc:before {
    content: "\f0de";
}
.cfs-envelope:before {
    content: "\f0e0";
}
.cfs-linkedin:before {
    content: "\f0e1";
}
.cfs-rotate-left:before,
.cfs-undo:before {
    content: "\f0e2";
}
.cfs-legal:before,
.cfs-gavel:before {
    content: "\f0e3";
}
.cfs-dashboard:before,
.cfs-tachometer:before {
    content: "\f0e4";
}
.cfs-comment-o:before {
    content: "\f0e5";
}
.cfs-comments-o:before {
    content: "\f0e6";
}
.cfs-flash:before,
.cfs-bolt:before {
    content: "\f0e7";
}
.cfs-sitemap:before {
    content: "\f0e8";
}
.cfs-umbrella:before {
    content: "\f0e9";
}
.cfs-paste:before,
.cfs-clipboard:before {
    content: "\f0ea";
}
.cfs-lightbulb-o:before {
    content: "\f0eb";
}
.cfs-exchange:before {
    content: "\f0ec";
}
.cfs-cloud-download:before {
    content: "\f0ed";
}
.cfs-cloud-upload:before {
    content: "\f0ee";
}
.cfs-user-md:before {
    content: "\f0f0";
}
.cfs-stethoscope:before {
    content: "\f0f1";
}
.cfs-suitcase:before {
    content: "\f0f2";
}
.cfs-bell-o:before {
    content: "\f0a2";
}
.cfs-coffee:before {
    content: "\f0f4";
}
.cfs-cutlery:before {
    content: "\f0f5";
}
.cfs-file-text-o:before {
    content: "\f0f6";
}
.cfs-building-o:before {
    content: "\f0f7";
}
.cfs-hospital-o:before {
    content: "\f0f8";
}
.cfs-ambulance:before {
    content: "\f0f9";
}
.cfs-medkit:before {
    content: "\f0fa";
}
.cfs-fighter-jet:before {
    content: "\f0fb";
}
.cfs-beer:before {
    content: "\f0fc";
}
.cfs-h-square:before {
    content: "\f0fd";
}
.cfs-plus-square:before {
    content: "\f0fe";
}
.cfs-angle-double-left:before {
    content: "\f100";
}
.cfs-angle-double-right:before {
    content: "\f101";
}
.cfs-angle-double-up:before {
    content: "\f102";
}
.cfs-angle-double-down:before {
    content: "\f103";
}
.cfs-angle-left:before {
    content: "\f104";
}
.cfs-angle-right:before {
    content: "\f105";
}
.cfs-angle-up:before {
    content: "\f106";
}
.cfs-angle-down:before {
    content: "\f107";
}
.cfs-desktop:before {
    content: "\f108";
}
.cfs-laptop:before {
    content: "\f109";
}
.cfs-tablet:before {
    content: "\f10a";
}
.cfs-mobile-phone:before,
.cfs-mobile:before {
    content: "\f10b";
}
.cfs-circle-o:before {
    content: "\f10c";
}
.cfs-quote-left:before {
    content: "\f10d";
}
.cfs-quote-right:before {
    content: "\f10e";
}
.cfs-spinner:before {
    content: "\f110";
}
.cfs-circle:before {
    content: "\f111";
}
.cfs-mail-reply:before,
.cfs-reply:before {
    content: "\f112";
}
.cfs-github-alt:before {
    content: "\f113";
}
.cfs-folder-o:before {
    content: "\f114";
}
.cfs-folder-open-o:before {
    content: "\f115";
}
.cfs-smile-o:before {
    content: "\f118";
}
.cfs-frown-o:before {
    content: "\f119";
}
.cfs-meh-o:before {
    content: "\f11a";
}
.cfs-gamepad:before {
    content: "\f11b";
}
.cfs-keyboard-o:before {
    content: "\f11c";
}
.cfs-flag-o:before {
    content: "\f11d";
}
.cfs-flag-checkered:before {
    content: "\f11e";
}
.cfs-terminal:before {
    content: "\f120";
}
.cfs-code:before {
    content: "\f121";
}
.cfs-mail-reply-all:before,
.cfs-reply-all:before {
    content: "\f122";
}
.cfs-star-half-empty:before,
.cfs-star-half-full:before,
.cfs-star-half-o:before {
    content: "\f123";
}
.cfs-location-arrow:before {
    content: "\f124";
}
.cfs-crop:before {
    content: "\f125";
}
.cfs-code-fork:before {
    content: "\f126";
}
.cfs-unlink:before,
.cfs-chain-broken:before {
    content: "\f127";
}
.cfs-question:before {
    content: "\f128";
}
.cfs-info:before {
    content: "\f129";
}
.cfs-exclamation:before {
    content: "\f12a";
}
.cfs-superscript:before {
    content: "\f12b";
}
.cfs-subscript:before {
    content: "\f12c";
}
.cfs-eraser:before {
    content: "\f12d";
}
.cfs-puzzle-piece:before {
    content: "\f12e";
}
.cfs-microphone:before {
    content: "\f130";
}
.cfs-microphone-slash:before {
    content: "\f131";
}
.cfs-shield:before {
    content: "\f132";
}
.cfs-calendar-o:before {
    content: "\f133";
}
.cfs-fire-extinguisher:before {
    content: "\f134";
}
.cfs-rocket:before {
    content: "\f135";
}
.cfs-maxcdn:before {
    content: "\f136";
}
.cfs-chevron-circle-left:before {
    content: "\f137";
}
.cfs-chevron-circle-right:before {
    content: "\f138";
}
.cfs-chevron-circle-up:before {
    content: "\f139";
}
.cfs-chevron-circle-down:before {
    content: "\f13a";
}
.cfs-html5:before {
    content: "\f13b";
}
.cfs-css3:before {
    content: "\f13c";
}
.cfs-anchor:before {
    content: "\f13d";
}
.cfs-unlock-alt:before {
    content: "\f13e";
}
.cfs-bullseye:before {
    content: "\f140";
}
.cfs-ellipsis-h:before {
    content: "\f141";
}
.cfs-ellipsis-v:before {
    content: "\f142";
}
.cfs-rss-square:before {
    content: "\f143";
}
.cfs-play-circle:before {
    content: "\f144";
}
.cfs-ticket:before {
    content: "\f145";
}
.cfs-minus-square:before {
    content: "\f146";
}
.cfs-minus-square-o:before {
    content: "\f147";
}
.cfs-level-up:before {
    content: "\f148";
}
.cfs-level-down:before {
    content: "\f149";
}
.cfs-check-square:before {
    content: "\f14a";
}
.cfs-pencil-square:before {
    content: "\f14b";
}
.cfs-external-link-square:before {
    content: "\f14c";
}
.cfs-share-square:before {
    content: "\f14d";
}
.cfs-compass:before {
    content: "\f14e";
}
.cfs-toggle-down:before,
.cfs-caret-square-o-down:before {
    content: "\f150";
}
.cfs-toggle-up:before,
.cfs-caret-square-o-up:before {
    content: "\f151";
}
.cfs-toggle-right:before,
.cfs-caret-square-o-right:before {
    content: "\f152";
}
.cfs-euro:before,
.cfs-eur:before {
    content: "\f153";
}
.cfs-gbp:before {
    content: "\f154";
}
.cfs-dollar:before,
.cfs-usd:before {
    content: "\f155";
}
.cfs-rupee:before,
.cfs-inr:before {
    content: "\f156";
}
.cfs-cny:before,
.cfs-rmb:before,
.cfs-yen:before,
.cfs-jpy:before {
    content: "\f157";
}
.cfs-ruble:before,
.cfs-rouble:before,
.cfs-rub:before {
    content: "\f158";
}
.cfs-won:before,
.cfs-krw:before {
    content: "\f159";
}
.cfs-bitcoin:before,
.cfs-btc:before {
    content: "\f15a";
}
.cfs-file:before {
    content: "\f15b";
}
.cfs-file-text:before {
    content: "\f15c";
}
.cfs-sort-alpha-asc:before {
    content: "\f15d";
}
.cfs-sort-alpha-desc:before {
    content: "\f15e";
}
.cfs-sort-amount-asc:before {
    content: "\f160";
}
.cfs-sort-amount-desc:before {
    content: "\f161";
}
.cfs-sort-numeric-asc:before {
    content: "\f162";
}
.cfs-sort-numeric-desc:before {
    content: "\f163";
}
.cfs-thumbs-up:before {
    content: "\f164";
}
.cfs-thumbs-down:before {
    content: "\f165";
}
.cfs-youtube-square:before {
    content: "\f166";
}
.cfs-youtube:before {
    content: "\f167";
}
.cfs-xing:before {
    content: "\f168";
}
.cfs-xing-square:before {
    content: "\f169";
}
.cfs-youtube-play:before {
    content: "\f16a";
}
.cfs-dropbox:before {
    content: "\f16b";
}
.cfs-stack-overflow:before {
    content: "\f16c";
}
.cfs-instagram:before {
    content: "\f16d";
}
.cfs-flickr:before {
    content: "\f16e";
}
.cfs-adn:before {
    content: "\f170";
}
.cfs-bitbucket:before {
    content: "\f171";
}
.cfs-bitbucket-square:before {
    content: "\f172";
}
.cfs-tumblr:before {
    content: "\f173";
}
.cfs-tumblr-square:before {
    content: "\f174";
}
.cfs-long-arrow-down:before {
    content: "\f175";
}
.cfs-long-arrow-up:before {
    content: "\f176";
}
.cfs-long-arrow-left:before {
    content: "\f177";
}
.cfs-long-arrow-right:before {
    content: "\f178";
}
.cfs-apple:before {
    content: "\f179";
}
.cfs-windows:before {
    content: "\f17a";
}
.cfs-android:before {
    content: "\f17b";
}
.cfs-linux:before {
    content: "\f17c";
}
.cfs-dribbble:before {
    content: "\f17d";
}
.cfs-skype:before {
    content: "\f17e";
}
.cfs-foursquare:before {
    content: "\f180";
}
.cfs-trello:before {
    content: "\f181";
}
.cfs-female:before {
    content: "\f182";
}
.cfs-male:before {
    content: "\f183";
}
.cfs-gittip:before {
    content: "\f184";
}
.cfs-sun-o:before {
    content: "\f185";
}
.cfs-moon-o:before {
    content: "\f186";
}
.cfs-archive:before {
    content: "\f187";
}
.cfs-bug:before {
    content: "\f188";
}
.cfs-vk:before {
    content: "\f189";
}
.cfs-weibo:before {
    content: "\f18a";
}
.cfs-renren:before {
    content: "\f18b";
}
.cfs-pagelines:before {
    content: "\f18c";
}
.cfs-stack-exchange:before {
    content: "\f18d";
}
.cfs-arrow-circle-o-right:before {
    content: "\f18e";
}
.cfs-arrow-circle-o-left:before {
    content: "\f190";
}
.cfs-toggle-left:before,
.cfs-caret-square-o-left:before {
    content: "\f191";
}
.cfs-dot-circle-o:before {
    content: "\f192";
}
.cfs-wheelchair:before {
    content: "\f193";
}
.cfs-vimeo-square:before {
    content: "\f194";
}
.cfs-turkish-lira:before,
.cfs-try:before {
    content: "\f195";
}
.cfs-plus-square-o:before {
    content: "\f196";
}
.cfs-space-shuttle:before {
    content: "\f197";
}
.cfs-slack:before {
    content: "\f198";
}
.cfs-envelope-square:before {
    content: "\f199";
}
.cfs-wordpress:before {
    content: "\f19a";
}
.cfs-openid:before {
    content: "\f19b";
}
.cfs-institution:before,
.cfs-bank:before,
.cfs-university:before {
    content: "\f19c";
}
.cfs-mortar-board:before,
.cfs-graduation-cap:before {
    content: "\f19d";
}
.cfs-yahoo:before {
    content: "\f19e";
}
.cfs-google:before {
    content: "\f1a0";
}
.cfs-reddit:before {
    content: "\f1a1";
}
.cfs-reddit-square:before {
    content: "\f1a2";
}
.cfs-stumbleupon-circle:before {
    content: "\f1a3";
}
.cfs-stumbleupon:before {
    content: "\f1a4";
}
.cfs-delicious:before {
    content: "\f1a5";
}
.cfs-digg:before {
    content: "\f1a6";
}
.cfs-pied-piper:before {
    content: "\f1a7";
}
.cfs-pied-piper-alt:before {
    content: "\f1a8";
}
.cfs-drupal:before {
    content: "\f1a9";
}
.cfs-joomla:before {
    content: "\f1aa";
}
.cfs-language:before {
    content: "\f1ab";
}
.cfs-fax:before {
    content: "\f1ac";
}
.cfs-building:before {
    content: "\f1ad";
}
.cfs-child:before {
    content: "\f1ae";
}
.cfs-paw:before {
    content: "\f1b0";
}
.cfs-spoon:before {
    content: "\f1b1";
}
.cfs-cube:before {
    content: "\f1b2";
}
.cfs-cubes:before {
    content: "\f1b3";
}
.cfs-behance:before {
    content: "\f1b4";
}
.cfs-behance-square:before {
    content: "\f1b5";
}
.cfs-steam:before {
    content: "\f1b6";
}
.cfs-steam-square:before {
    content: "\f1b7";
}
.cfs-recycle:before {
    content: "\f1b8";
}
.cfs-automobile:before,
.cfs-car:before {
    content: "\f1b9";
}
.cfs-cab:before,
.cfs-taxi:before {
    content: "\f1ba";
}
.cfs-tree:before {
    content: "\f1bb";
}
.cfs-spotify:before {
    content: "\f1bc";
}
.cfs-deviantart:before {
    content: "\f1bd";
}
.cfs-soundcloud:before {
    content: "\f1be";
}
.cfs-database:before {
    content: "\f1c0";
}
.cfs-file-pdf-o:before {
    content: "\f1c1";
}
.cfs-file-word-o:before {
    content: "\f1c2";
}
.cfs-file-excel-o:before {
    content: "\f1c3";
}
.cfs-file-powerpoint-o:before {
    content: "\f1c4";
}
.cfs-file-photo-o:before,
.cfs-file-picture-o:before,
.cfs-file-image-o:before {
    content: "\f1c5";
}
.cfs-file-zip-o:before,
.cfs-file-archive-o:before {
    content: "\f1c6";
}
.cfs-file-sound-o:before,
.cfs-file-audio-o:before {
    content: "\f1c7";
}
.cfs-file-movie-o:before,
.cfs-file-video-o:before {
    content: "\f1c8";
}
.cfs-file-code-o:before {
    content: "\f1c9";
}
.cfs-vine:before {
    content: "\f1ca";
}
.cfs-codepen:before {
    content: "\f1cb";
}
.cfs-jsfiddle:before {
    content: "\f1cc";
}
.cfs-life-bouy:before,
.cfs-life-buoy:before,
.cfs-life-saver:before,
.cfs-support:before,
.cfs-life-ring:before {
    content: "\f1cd";
}
.cfs-circle-o-notch:before {
    content: "\f1ce";
}
.cfs-ra:before,
.cfs-rebel:before {
    content: "\f1d0";
}
.cfs-ge:before,
.cfs-empire:before {
    content: "\f1d1";
}
.cfs-git-square:before {
    content: "\f1d2";
}
.cfs-git:before {
    content: "\f1d3";
}
.cfs-hacker-news:before {
    content: "\f1d4";
}
.cfs-tencent-weibo:before {
    content: "\f1d5";
}
.cfs-qq:before {
    content: "\f1d6";
}
.cfs-wechat:before,
.cfs-weixin:before {
    content: "\f1d7";
}
.cfs-send:before,
.cfs-paper-plane:before {
    content: "\f1d8";
}
.cfs-send-o:before,
.cfs-paper-plane-o:before {
    content: "\f1d9";
}
.cfs-history:before {
    content: "\f1da";
}
.cfs-circle-thin:before {
    content: "\f1db";
}
.cfs-header:before {
    content: "\f1dc";
}
.cfs-paragraph:before {
    content: "\f1dd";
}
.cfs-sliders:before {
    content: "\f1de";
}
.cfs-share-alt:before {
    content: "\f1e0";
}
.cfs-share-alt-square:before {
    content: "\f1e1";
}
.cfs-bomb:before {
    content: "\f1e2";
}
.cfs-soccer-ball-o:before,
.cfs-futbol-o:before {
    content: "\f1e3";
}
.cfs-tty:before {
    content: "\f1e4";
}
.cfs-binoculars:before {
    content: "\f1e5";
}
.cfs-plug:before {
    content: "\f1e6";
}
.cfs-slideshare:before {
    content: "\f1e7";
}
.cfs-twitch:before {
    content: "\f1e8";
}
.cfs-yelp:before {
    content: "\f1e9";
}
.cfs-newspaper-o:before {
    content: "\f1ea";
}
.cfs-wifi:before {
    content: "\f1eb";
}
.cfs-calculator:before {
    content: "\f1ec";
}
.cfs-paypal:before {
    content: "\f1ed";
}
.cfs-google-wallet:before {
    content: "\f1ee";
}
.cfs-cc-visa:before {
    content: "\f1f0";
}
.cfs-cc-mastercard:before {
    content: "\f1f1";
}
.cfs-cc-discover:before {
    content: "\f1f2";
}
.cfs-cc-amex:before {
    content: "\f1f3";
}
.cfs-cc-paypal:before {
    content: "\f1f4";
}
.cfs-cc-stripe:before {
    content: "\f1f5";
}
.cfs-bell-slash:before {
    content: "\f1f6";
}
.cfs-bell-slash-o:before {
    content: "\f1f7";
}
.cfs-trash:before {
    content: "\f1f8";
}
.cfs-copyright:before {
    content: "\f1f9";
}
.cfs-at:before {
    content: "\f1fa";
}
.cfs-eyedropper:before {
    content: "\f1fb";
}
.cfs-paint-brush:before {
    content: "\f1fc";
}
.cfs-birthday-cake:before {
    content: "\f1fd";
}
.cfs-area-chart:before {
    content: "\f1fe";
}
.cfs-pie-chart:before {
    content: "\f200";
}
.cfs-line-chart:before {
    content: "\f201";
}
.cfs-lastfm:before {
    content: "\f202";
}
.cfs-lastfm-square:before {
    content: "\f203";
}
.cfs-toggle-off:before {
    content: "\f204";
}
.cfs-toggle-on:before {
    content: "\f205";
}
.cfs-bicycle:before {
    content: "\f206";
}
.cfs-bus:before {
    content: "\f207";
}
.cfs-ioxhost:before {
    content: "\f208";
}
.cfs-angellist:before {
    content: "\f209";
}
.cfs-cc:before {
    content: "\f20a";
}
.cfs-shekel:before,
.cfs-sheqel:before,
.cfs-ils:before {
    content: "\f20b";
}
.cfs-meanpath:before {
    content: "\f20c";
}

.cfs-gearcog:before{ content:'\f501'; }
.cfs-speedometr:before{ content:'\f502'; }
.cfs-git-bash:before{ content:'\f503'; }
.cfs-shell-2:before{ content:'\f504'; }
.cfs-team:before{ content:'\f505'; }
.cfs-search-2:before{ content:'\f506'; }
.cfs-globe:before{ content:'\f507'; }
.cfs-edit-2:before{ content:'\f508'; }

.cfs-notepad-2:before{ content:'\f509'; }
.cfs-devices-2:before{ content:'\f50a'; }
.cfs-pencil-2:before{ content:'\f50b'; }
.cfs-rocket:before{ content:'\f50c'; }
.cfs-thumbsup-2:before{ content:'\f50d'; }
.cfs-eye-2:before{ content:'\f50e'; }
.cfs-stopwatch-2:before{ content:'\f510'; }
.cfs-edit-3:before{ content:'\f511'; }
.cfs-npmstart:before{ content:'\f512'; }
